.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.75);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 1.875rem;
}

.overlay a {
    padding: .5rem;
    text-decoration: none;
    font-size: 3.5rem;
    color: var(--complementary-color);
    display: block;
    transition: 0.5s;
}

.overlay a:hover, .overlay a:focus {
    color: var(--hover-color);
    transition: .7s;
    font-weight: 700;
}

.overlay .closebtn {
    position: absolute;
    top: 1.25rem;
    right: 2.5rem;
    font-size: 3rem;
}

/* FOR MODAL */

.modalForm {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6.25rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.formContent {
  position: relative;
  background-color: var(--complementary-color);
  margin: auto;
  padding: 2rem;
  width: 40%;
  text-align: center;
  border-radius: .5rem;
}

.formContent h2 {
  font-size: 2.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.formContent form input {
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: .3rem;
}

.formContent form textarea {
  width: 100%;
  height: 20vh;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: .3rem;
}

#close {
  color: #000;
  position: absolute;
  top: 1%;
  right: 3.5%;
  font-size: 2.5rem;
  font-weight: 700;
}

#close:hover {
  color: rgba(238, 21, 21, 0.9);
}

#submit {
  padding: .8rem 1.3rem;
  background-color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: .2rem;
  border-radius: .4rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

#submit:hover {
  background-color: var(--main-color);
  color: var(--complementary-color);
}

/* TEXT OVER FEATURE IMAGE */

.over-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--main-color);
}

.feature:hover .over-text {
  opacity: 1;
}

.over-text h3 {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 100;
}
